.features {
    display: flex;
    justify-content: center;
    width: 100%;
    
    &__title {
        font-family: Raleway;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin-bottom: 40px;
    }

    &__content {
       width: 657px;
    }

    &__text {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin-bottom: 45px;    
    }

    &__list {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 32px;
        font-weight: 300;
        color: #8c8c8c;
        list-style-type: none;      
    }

    &__list-item {
        position: relative;
        margin-left: 21px;

        &::before {
            content: '';
            width: 21px;
            height: 21px;
            position: absolute;
            background-image: url('../img/features_list_icon.png');
            top: 5px;
            left: -28px;           
            background-repeat: no-repeat;           
        }
    }
}

@media (max-width: 576px) {
    .features {
        padding: 0 5px;
        max-width: 100%;
        position: relative;

        &__title {
            text-align: center;
        }

        &__content {
            padding: 0 0 150px;
        }

        &__text {
            margin: 0 0 45px 5px;
        }

        &__list {
            margin: 0 0 0 200px;
        }
        
        img {
            position: absolute;
            bottom: 0px;
            left: 10px;
            width: 60%;
            height: 62%;
        }

    }
}