.footer {
   background-color: #191919; 
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 80px 0 0 0;
   
   ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
   }

   &__list {
       width: 61%;
       display: flex;
       justify-content: space-between;

       &-item {
           width: 23%;
           
       }
   }

   &__about-us {
       width: 22%;

       .logo {
        display: flex;
        align-items: center;
        color: #ffffff;
        fill: #ffffff;
        padding: 0 0 29px; 
        } 
    
       .logo-text {
        margin-left: 2px;
        font-family: Raleway;
        font-size: 34px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.04em;
        }

        p {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #555555;
            padding: 0 0 33px;
        }

        a {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #d1d1d1;
            position: relative;
            text-decoration: none;
        }

        a:hover {
            color: lighten($color:#d1d1d1, $amount: 10)
        }

        a:focus {
            outline: none;
            box-shadow: 0 0 0 3px lightskyblue;
            border-radius: 3px;
        }

        a:active {
           color: #ffffff; 
        }

        a::after {
            content: '';
            border: 5px solid  transparent; 
            border-left: 5px solid #d1d1d1;
            position: absolute;
            top: 5px;
            right: -20px;
        }

        
   }

   &__recent-posts {
       width: 22%;


       .recent-posts__title {
            font-family: Raleway;
            font-size: 24px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
            padding: 28px 0 23px;
       }

       .recent-posts__link {
           text-decoration: none;
       }

       .recent-posts__link:focus  {
            color: lighten($color: #c7b299, $amount: 15);
            border: none;
            outline: none;
        }

        .recent-posts__link:focus .recent-posts__text {
            color: #ffffff;
    
        }

       .recent-posts__link:hover .recent-posts__date {
           color: #ffffff;
       }

       .recent-posts__link:hover .recent-posts__text {
            color: #c7b299;
       }

       .recent-posts__link:active .recent-posts__text {
           color: lighten($color: #c7b299, $amount: 10);
           border: none;
           outline: none;
       }

       

       .recent-posts__date {
            font-family: Montserrat;
            font-size: 12px;
            line-height: 20px;
            font-weight: 300;
            color: #363636;
            margin: 0 0 6px;
       }

       .recent-posts__text {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: #555555;
            margin: 0 0 38px;
       }
   }

   &__twitts{
       width: 23%;

       .twitts {

            &__title {
                padding: 28px 0 23px;
                font-family: Raleway;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
            }

            &__text {
                font-family: Montserrat;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #555555;
                padding: 0 0 6px;
            }

            &__date {
                font-family: Montserrat;
                font-size: 12px;
                line-height: 20px;
                font-weight: 300;
                color: #363636;
                padding: 0 0 38px;
            }

            &__highlight {
                color: #00bff3
            }
       }



       
   }

   &__widget {
       width: 24%;
       
       flex-wrap: wrap;

       .widget {
           &__title {
                width: 100%;
                font-family: Raleway;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
                padding: 28px 0 23px;
           }

           &__img {
               margin: 0 5px 5px 0;
           }
       }
   }

   &__outtro {
       background-color: #111111;
       display: flex;
       justify-content: space-between;
       width: 100%;
       padding: 45px 0 52px;
       box-sizing: border-box;
       

       .outtro {
           &__copyright {
               margin: 0 0 0 19.5%;

               a {
                   text-decoration: none;
                   color: #555555;

                   &:hover {
                       color: #c7b299;
                   }

                   &:focus {
                       outline: none;
                       box-shadow: 0 0 0 3px  #7a7b7c;
                       border-radius: 3px;
                   }

                   &:active {
                       color: #ffffff;
                   }
               }

               span {
                    color: #252525;
               }

               .outtro__logo {
                    color: #959595;
               }
           }

           

           &__adv {
               margin: 0 19.5% 0 0;

               a{
                    text-decoration: none;
                    color: #555555;

                    &:hover {
                        color: #c7b299;
                    }
 
                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 3px #7a7b7c;
                        border-radius: 3px;
                    }
 
                    &:active {
                        color: #ffffff;
                    } 
               }

               span {
                    color: #252525;
                }
           }
       }
   }



   
}

@media(max-width: 576px) {
    .footer {
        padding: 20px 0 0 0;

        &__list {
            width: 88%;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__about-us {
            width: 100%;
        }

        &__recent-posts {
            width: 100%;
        }

        &__twitts {
            width: 100%;
        }

        &__widget {
            width: 60%;
        }
    }
}



    