.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/partners_bg.jpg');
    background-color:#404144;

    &__list {
        width: 58%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 124px 0px;
        list-style-type: none;
    }

    &__item img {
        width: 99%;
        height: 99%;
    }

    &__item:hover {
        opacity: 0.6;
    }

    &__item:active{
        opacity: 1;
    }

    &__item-link:focus {
        outline: none;
        opacity: 0.3;
    }
}

@media (max-width: 576px) {
    .partners {

        height: 100%;

        &__list {
            width: 96%;
            padding: 20px 0;
        }

        &__item-link {
            & img {
                width: 90%;
                height: 90%;
            }
        }
    }
}