.services {
    padding-top: 89px;
    margin-bottom: 80px;
}

.services-title {
    width: 100%;
}

.services-items {
    display: flex;
    padding-left: 0;
    margin: 0;
}

.services-item {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    box-sizing: border-box;

    &:first-child  {
        margin-left: 0;
    }

    &:hover .services-item__icon {
        fill: #c7b299;
    }

    &:hover .services-item__title {
        color: #c7b299;
    }

    &:hover::after {
        background-color: #c7b299;
    }

    &__title {
        font-family: Raleway;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin: 29px 0 0 0;
    }

    &__text {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #8c8c8c;
        text-align: center;
        margin: 19px 0 0 0;
    }

    &::after {
        content: '';
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .services {
        padding: 10px 10px 0;

        &-items {
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
        }
        &-item {
            width: 45%;
            margin: 0;

            &::after {
                margin: 10px 0 10px;
            } 

        }
    }
    
}